<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="apply.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
</head>
<body>
    <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="" alt="">
                        <h3>EasyJobs</h3>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as an Employee</h3><br>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <form>
                                        <div class="form-group">
                                                <h6>First Name</h6>
                                            <input type="text" name="FirstName" class="form-control" placeholder="First Name *" value="">
                                        </div>
                                        <h6>Last Name</h6>
                                        <div class="form-group">
                                            <input type="text" name="LastName" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <h6>Password</h6>
                                        <div class="form-group">
                                            <input type="password" name="Password"  class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <h6>Confirm password</h6>
                                        <div class="form-group">
                                            <input type="password" name="confirmPassword" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
                                        <h6>Gender</h6>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Email</h6>
                                        <div class="form-group">
                                            <input type="email" name="EmailA" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <h6>Phone No:</h6>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="PhoneA" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
                                            <h6>Education</h6>
                                        <div class="form-group">
                                            <input type="text" name="Education" class="form-control" placeholder="Education *" value="" />
                                        </div>
                                         <h6>CV</h6>
                                        <div class="form-group">
                                            <input type="file" name="CV" class="form-control" placeholder="Upload CV *">
                                        </div>
                                    
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </form>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
</body>
</html>



                