<html>
<head>
    <title></title>
<link rel="stylesheet" type="text/css" href="apply.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
</head>
<body>
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="" alt="">
                        <h3>EasyJobs</h3>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as an Hirer</h3><br>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <h6>Company Name</h6>
                                        <form>
                                        <div class="form-group">
                                            <input type="text" name="Company_name" class="form-control" placeholder="Company Name *" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    <div class="col-md-6">
                                        <h6>Email</h6>
                                        <div class="form-group">
                                            <input type="email" name="company_email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <h6>Phone No:</h6>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="PhoneNo" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
                                            <h6>Vacant Post</h6>
                                        <div class="form-group">
                                            <input type="text" name="vacant_post" class="form-control" placeholder="Vacant Post *" value="" />
                                        </div>
                                        <h6>Deadline</h6>
                                        <div class="form-group">
                                            <input type="date" name="deadline" class="form-control" placeholder="DD/MM/YYYY *" value="" />
                                        </div>
                                         <h6>Location</h6>
                                        <div class="form-group">
                                            <input type="text" name="location" class="form-control" placeholder="Location *">
                                        </div>
                                    
                                        <input type="submit" name="register" class="btnRegister"  value="Register"/>
                                

                                    </div>
                                </form>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </body>
        </html>