*{
	margin:0;
	padding: 0;
}
body{
	font-family: sans-serif;
}
#nav-bar{
	position:sticky;
	top: 0;
	z-index: 10;

}
.joob{
	margin-left: 700px;
	padding: 10px;
	border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
.joob span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.joob span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.joob:hover span {
  padding-right: 25px;
}

.joob:hover span:after {
  opacity: 1;
  right: 0;
}

.com{
	margin-left: 100px;
	padding: 10px;
	border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
.com span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.com span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.com:hover span {
  padding-right: 25px;
}

.com:hover span:after {
  opacity: 1;
  right: 0;
}


.sup{
	background-color: #706260;
	color: #ffffff;
}


#footer{
	background-image: linear-gradient( to right, #ffb108, #ff6f00);
	color: #fff;
	margin-top: 800px;

}
.footer-box{
	padding: 10px;
}

.container1 {
  border-radius: 5px;
  background-color:#f2f2f2;
  padding: 20px;
}